@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fond-accueil {
    background: linear-gradient(#161616, #050505 );
    min-height: 160vh;
}


.container-recherche, .recherche {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.recherche {
    align-items: center;
    text-align: center;
}

.recherche h2 {
    font-size: 3em;
    color: #ccc;
    margin-bottom: 5%;
    transition: 0.5s;
    position: relative;
    
    text-transform: uppercase;
}

.recherche h2:hover {
    color: white;
}

.recherche h2:after {
    content: "";
    position: absolute;
    background-color: white; /* Utilisez la variable --color */
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.recherche h2:hover:after {
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
}


#search {
    width: 50vw;
    height: 3.5vw;
    padding: 2% 5%;
    font-size: 16px;
    border: 4px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.28);
    outline: none;
    transition: 0.7s ease-in-out;
}

#search:focus {
    border: 4px solid var(--color);
    box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.6);
}

.container-carte iframe {
    width: 100%;  /* Réduisez la largeur à 80% de son conteneur */
    height: 650px;
    border: 2px solid #fff;  /* Ajoutez une bordure noire de 2px */
    border-radius: 8px;  /* Ajoutez des coins arrondis */
    display: block;  /* Assurez-vous que l'iframe est un bloc pour centrer correctement */
    transition: 0.5s;
}

.container-carte iframe:hover {
    border: 2px solid var(--color);  /* Ajoutez une bordure noire de 2px */
}

.container-carte {
    width: 50%;
    margin: 0 5%;
}

.container-main-carte {
    width: 100%;
    display: flex;
    margin:8% 0;
}

.container-infos {
    width: 50%;
}

.container-infos h2 {
    font-size: 2em;
    color: #ccc;
    margin-bottom: 5%;
    transition: 0.5s;
    position: relative;
    margin-left: auto; /* Centre le h2 lui-même */
    margin-right: auto; /* Centre le h2 lui-même */
    width: fit-content; /* S'assure que la largeur est ajustée au contenu */
}

.container-infos h2:hover {
    color: white;
}

.container-infos h2:after {
    content: "";
    position: absolute;
    background-color: white; /* Utilisez la variable --color */
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.container-infos h2:hover:after {
    width: 100%;
}

.infos p {
    color: white;
}

footer {
    margin-top: 20vh;
}


/* Ajustements supplémentaires pour les écrans plus petits */
@media (max-width: 768px) {
    form #search {
        width: 80%;
    }
}

