@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: #b0fc97;
}

* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar Annexe */

.vert {
    color: white;
}


body::-webkit-scrollbar {
    width: 12px;
    background-color: #13141d;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #dadada;
    width: 100%;
    
}

header nav {
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #3d3d3d;
    transition: color 1s;
    font-weight: bold;
}

header nav h1:hover {
    color: #090714;
    
}

.menu-toggle {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 2.2vw;
}

.close-icon {
    display: none;
    font-size: 2.2vw;
    cursor: pointer;
    z-index: 1001;
}

.menu-toggle.active .bx-menu {
    display: none;
}

.menu-toggle.active .close-icon {
    display: block;
    color: black;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
    display: flex;
    align-items: flex-end; /* Aligner le contenu en bas du conteneur */
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
    z-index: 1000;
}

.menu.active {
    transform: translateY(0);
}


/* Style du menu */
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


.menu-right {
    background-color: #ebebeb;
    height: 100%;
    width: 75%;
}

.menu-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13%;
}

.menu-box { 
    border-radius: 8px;
    width: 25%;
    margin: 2% 4%;
    text-align: center;
    transition: transform 0.5s ease;
    text-align: center;
}

.menu-box:hover {
    transform: translateY(-5px);
}


.menu-boxes .menu-box img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-box h3 {
    margin: 3% 0;
    font-size: 1.4em;
    color: #6b6b6b;
    transition: 0.5s;
}

.menu-box:hover h3 {
    color: #000000;
}

.menu-box h3:after {
    content: "";
    position: absolute;
    background-color: black; /* Utilisez la variable --color */
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.menu-box:hover h3:after {
    width: 100%;
}

/* Style du menu de gauche */
.menu-left {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    height: 100%;
    width: 25%;
}

.menu-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 45%;
}

.menu-left ul li {
    margin: 0 0 10% 0;
    position: relative; /* Ajoutez ceci pour que :after soit positionné par rapport à li */
}

.menu-left ul li a {
    color: #6b6b6b;
    font-size: 1.4em;
    font-weight: bold;
    transition: color 0.5s;
    position: relative; /* Ajoutez ceci pour que le z-index fonctionne */
    z-index: 1; /* Ajoutez ceci pour placer le lien au-dessus du :after */
}

.menu-left ul li a:hover {
    color: #000000;
}


.menu-left ul li a:after {
    content: "";
    position: absolute;
    background-color: var(--color); /* Utilisez la variable --color */
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.menu-left ul li a:hover:after {
    width: 100%;
}


#titre-menu {
    color: #090714;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 500px;
    cursor: default;
}