    <div class="accueil">
        <main>
            <div class="container">
                <div class="main">
                    <h2>La Qualité des <span class="vert">cours d'eau</span> en France</h2>
                    <p>Les cours d'eau en France sont essentiels pour l'environnement et la santé publique. Leur qualité, avec 43,8 % en bon état chimique en 2019, est cruciale. Ces cours d'eau fournissent de l'eau douce, abritent une biodiversité importante et contribuent à réguler le climat. Leur impact sur la santé publique est significatif,</p>
                    <div class="button-container">
                        <a href="#partie-img"><button class="custom-button">Lire Plus</button></a>
                    </div>
                </div>

            </div>
        </main>
    </div>