<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}" />
</head>
<footer>
    <div class="column">
        <h3>Compte</h3>
        <a href="/inscription.php"><p>S'inscrire</p></a>
        <a href="/connexion.php"><p>Se connecter</p></a>
    </div>
    <div class="column">
        <h3>Soutenir</h3>
        <p>Faire un don</p>
        <p>Nous rejoindre</p>
        <p>Des idées</p>
    </div>
    <div class="column">
        <h3>Contact</h3>
        <a href=""><p>Discord</p></a>
        <p>Instagram</p>
        <p>Twitter</p>
    </div>
    <hr class="divider"> <!-- Ligne horizontale -->
    <div class="copyright">
        <p>&copy; AquaService - Tous droits réservés.</p>
    </div>
</footer>
